# Ignore macOS system files
.DS_Store

# Ignore editor and IDE settings
.vscode/
*.iml
.idea/

# Ignore local machine-specific configuration
local.properties
.env/

# Ignore Android/Gradle build artifacts
.gradle/
build/
release/
captures/
.externalNativeBuild/
.cxx/